# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# Prisma
prisma/migrations/*/migration.sql
prisma/migration_lock.toml

# Build
/dist
/build

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Others
coverage/

# Ignore uploads folder
uploads/

